/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*=============================*/
 /* Container, wrapper & flex */
 /*==========================*/
.omnie-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

#omnie-container {
    display: none;
}

.omnie-flex {
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    flex-shrink: 0;
    height: auto;
}

.omnie-box {
    margin: 0 auto;
    min-height: 100px;
    height: 100%;
    background: #F2F2F2;
    padding: 10px;      
    width: inherit; 
}

/* #omnie-filter-container {
    display: none;
} */

/* .omnie-filter-column {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.omnie-filter-column-full {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.omnie-field {
    padding: 5px;
    margin: 5px;
    text-align: left;
} */

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .omnie-filter-column {
      width: 100%;
    }
}

.omnie-flex-column {
    flex: 1;
    padding: 2px;
}

.omnie-flex-right {
    display: flex;
    justify-content: flex-end;
}

#omnie-filter-submit {
    margin-top: 30px;
    width: auto;
}

@media only screen and (min-width: 800px) {
	.omnie-flex-layout {
	  display: flex;
    }
}

/* @media only screen and (min-width: 640px) {
	.omnie-flex-layout {
	  display: flex;
    }
} */

/*============================*/
/* Pagination & page content */
/*==========================*/
.page-content{
    background: #eee;
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 660px;
}

#omnie-pagination {
    margin-top: 10px;
    margin: auto;
}

#omnie-pagination li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

#omnie-pagination li > a {
    text-decoration: none;
    color: #333;
}

#omnie-pagination li:hover {
    background-color: #ccc;
    border: 1px solid #333;
}

#omnie-pagination li.disabled:hover > a.page-link {
    color: #fff;
}

#omnie-pagination li.disabled > a.page-link {
    text-decoration: none;
    color: #ccc;
}

#omnie-pagination li.active {
    background-color: #333;
    border-color: #ccc;
}

#omnie-pagination li.active > a.page-link {
    color: #fff;
}

/*===================================*/
/* Table                            */
/*================================ */
table#omnie-table {
    border-collapse: collapse;
    width: 100%;
    display: table;
}

table#omnie-table, th, td {
    border: 1px solid rgba(0,0,0,.1) !important;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
}

.omnie-td {
    font-weight: lighter;
    font-size: 1em;
}

.omnie-td-book-now {
    display : table-cell;
    vertical-align: middle;
    margin : 0;
    padding : 0;
}

/* Button */
.omnie-btn {
    font-size: 18px; 
    white-space:nowrap;
    width:100%; 
    padding:.4em 1.2em; 
    border: 1px solid #eee;
    font-family: Open Sans, Helvetica,Arial,sans-serif; 
    line-height:18px; 
    zoom: 1; 
    color: #fff; 
    text-align: center; 
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; 
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    cursor: pointer;
}

.omnie-btn.omnie-btn-default{
    background-color: #fff; 
    border-color: #333; 
    color: #333;
    /*-webkit-box-shadow: 0 3px 0 #333; */
    /*box-shadow: 0 3px 0 #333;*/
    text-decoration: none;
}

.omnie-btn.omnie-btn-default:hover{
    background-color:#e2e2e2;
}

.omnie-btn.omnie-btn-default:active{
    top: 3px; 
    outline: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
}

.omnie-btn.omnie-search-close {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.omnie-btn.omnie-search-close:hover {
    background-color: #767676;
    color: #fff;
}

.omnie-btn.omnie-btn-link{
    background-color: #fdd835!important; 
    border-color: #333; 
    color: #333;
    /*-webkit-box-shadow: 0 3px 0 #333; */
    /*box-shadow: 0 3px 0 #333;*/
    text-decoration: none;
}

a.omnie-btn.omnie-btn-link:hover{
    background-color:#2991d6 !important;
    color: #fff;
}


/*==================================*/
/* Inputs                          */
/*================================*/
.omnie-input-text {
    color: #333;
    background-color: #fff;
    border-width: 0;
    border-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    width: 100%!important;
    padding: 12px;
    text-align: left;
    outline: none;
}

/*=================*/
/* Text Alignment */
/*===============*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* Utils */
.omnie-search-utils {
    float: right;
    margin-left: auto;
    text-align: right;
}

/* Selectize, Override CSS of Selectize plugin */
.selectize-input {
    color: #333 !important;
    background-color: #fff !important;
    border-width: 0 !important;
    border-color: #eee !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    border-radius: 2px !important;
    border-width: 1px !important;
    border-style: solid !important;
    width: 100%!important;
    padding: 12px !important;
    text-align: left !important;
    outline: none !important;
}

.selectize-input > .item {
    word-break: break-word;
}

.omnie-empty-selectize {
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}