/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
.omnie-wizard {
	position: absolute;
	background: #FCFCFC;
	margin: 0 -30px -30px;
}
.omnie-wizard .media-frame-title,
.omnie-wizard .media-frame-content,
.omnie-wizard .media-frame-toolbar {
	left: 0;
	padding: 0 30px;
}
.omnie-wizard .media-frame-title h2 {
	margin: 0;
	padding: 0 16px;
}
.omnie-wizard .media-frame-content {
	padding: 0 30px 60px;
}
.omnie-wizard input[type="text"] {
	display: block;
	width: 100%;
	max-width: 240px;
	margin: 0.5em 0;
}
.omnie-wizard .media-frame-toolbar .media-toolbar-secondary a{
	padding: 12px;
}
.omnie-wizard .section {
 	padding: 1em 0 0 1em;
}
.omnie-wizard .section .section{
	padding: .5em 0 0 1.5em;
}
.show{
	display:block;
}
.hide{
	display: none;
}

/* Button Circle */
.round-button {
	display: block;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #d9534f;
    box-shadow: 0 0 3px grey;
    font-size: 10px;
	font-weight: bold;
	cursor: pointer;
}

/* flex */
.omnie-column-flex {
	flex: 1;
	padding: 2px;
}

.omnie-flex-border {
	border: 1px #ccc solid;
}

.omnie-column {
	padding: 1em;
	margin: 0 2px 2px 0;
  }

@media only screen and (min-width: 640px) {
	.omnie-layout-flex {
	  display: flex;
	}
}

